# IntelliJ
.idea/

# Smart Tomcat
.smarttomcat/

# Maven build output
target/

# Maven wrapper JAR
!.mvn/
.mvn/wrapper/maven-wrapper.jar

# Generated reports
reports/*.txt

# Logs
*.log

# Compiled Java files
*.class

# Packaged artifacts
*.jar
*.war
*.ear

# OS files
.DS_Store
Thumbs.db