# IntelliJ
.idea/

# Smart Tomcat
.smarttomcat/

# Maven
target/

# Tomcat runtime folders
conf/
logs/
temp/
webapps/
work/

# Maven wrapper
!.mvn/
.mvn/wrapper/maven-wrapper.jar

# Generated reports
reports/*.txt

# Logs
*.log

# Compiled files
*.class

# Packaged artifacts
*.jar
*.war
*.ear

# Operating system files
.DS_Store
Thumbs.db