.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.card{
    width:500px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}

textarea{
    resize:vertical;
    min-height:120px;
}

button{
    margin-top:20px;
    width:100%;
}